#preview {
  position: relative;
}
#preview::before {
  content: "";
  background-image: url("google-javascript-body-text.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(50%);
  z-index: -5;
}

.category-list {
  /* width: 300px; */
}
@media (min-width: 992px) {
  #input-search {
    width: 600px;
  }
}

@media (min-width: 768px) {
  #input-search {
    width: 500px;
  }
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.post-add-btn {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.post-loading-spinner {
  width: 150px !important;
  height: 150px !important;
}

.spinner-container {
  display: flex !important;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.auth-form-container {
  width: 400px;
  height: 100%;
  margin: auto;
}

.post-card {
  min-height: 500px !important;
}

.post-card:hover {
  cursor: pointer;
}

.post-article-image {
  width: 300px;
  height: 100%;
  float: left;
}

.card-description,
.card-prereqs {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  max-width: 200px;
}

.tag {
  font-size: 14px;
  padding: 0.3em 0.4em 0.4em;
  margin: 0 0.3em;
  color: var(--bs-light);
  background-color: var(--bs-primary);
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1;
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 0.3em;
}
.tag a .bi-x-circle {
  margin-bottom: 2px;
}

.category-button {
  cursor: pointer !important;
  background-color: var(--bs-light);
}
.category-button:hover {
  background-color: rgb(219, 219, 219);
}
.bi-x-circle {
  cursor: pointer !important;
}
.post-view::before,
.user-profile::before {
  content: "";
  position: fixed;
  background-color: rgba(241, 241, 241, 0.699);
  width: 100vw;
  height: 100vh;
  z-index: -2;
  top: 0;
}

.post-view-container::after {
  content: "";
  clear: both;
  display: table;
}

.engagement-button {
  cursor: pointer !important;
  border-radius: 16px;
  display: inline-block;
  width: 40px;
  position: relative;
}
.engagement-button p {
  text-align: center;
}

.main::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  top: 0;
  background-color: rgba(241, 241, 241, 0.699);
}
.post-card-container {
  display: grid !important;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: 576px) {
  .post-card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .post-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
