#preview {
  position: relative;
}
#preview::before {
  content: "";
  background-image: url("google-javascript-body-text.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(50%);
  z-index: -5;
}

.category-list {
  /* width: 300px; */
}
@media (min-width: 992px) {
  #input-search {
    width: 600px;
  }
}

@media (min-width: 768px) {
  #input-search {
    width: 500px;
  }
}
